Source: ros2-installer
Section: utils
Priority: optional
Maintainer: Mohammed Rashith KP <mohammedrashithkp@gmail.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/mohammedrashithkp/ros2-installer
Package: ros2-installer
Version: 0.1
Architecture: amd64
Depends: curl, software-properties-common, locales
Description: This package installs ROS 2 (Jazzy/Humble/Iron) on supported Ubuntu systems.
 This is not the official ROS 2 distribution. It only installs ROS 2 packages
 from the official repositories maintained by Open Robotics.
